apiVersion: apps/v1
kind: Deployment
metadata:
  name: gpt-oss-app
  namespace: gpt-oss
  labels:
    app.kubernetes.io/instance: gpt-oss-app
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: gpt-oss-app
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: gpt-oss-app
    spec:
      containers:
        - name: vllm
          resources:
            limits:
              nvidia.com/gpu: "1"
